.photo img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    ;
}

.composer{
    margin:20px 0px;
}

.Name p{
    font-weight: bold;
    font-size: 30px;
    
}

.composerID{
    font-weight: bold;
    font-size: 20px;
}

.desc{
    font-size: 17px;
    font-style: italic;
}
.updateBtn{
    margin-top: 5px;
}

.updateBtn a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    background-color: #9fff9d7a;
    border: 2px solid #68c88838;
    border-radius: 15px;
}

.deleteBtn{
    margin-top: 5px;
}

.deleteBtn a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    background-color: #9fff9d7a;
    border: 2px solid #68c88838;
    border-radius: 15px;
}