
html {
    scroll-behavior: smooth;
}

.banner{
    background-color: #b3e3b2;
    margin: 0px 0px 5px 0px;
    caret-color: transparent;
}

.hugeBanner{
    position: static;
    color: white;
    caret-color: transparent;
    border: black 20px;
}

.banner.col-md-1{
    border: solid 3px #333333;
}

.banner img{
    margin-left: 1rem;
    width: 2.5em;
    height: 2.5em;
}

.input-group{
    margin-top: 0.4em;
}

/*.form-control.rounded.searchType{
    border-radius: 5px 10px 15px 20px;
}*/


input.searchType{
    border-radius: 20px 20px 20px 20px !important;
    width: 20rem !important;

}

input.btn{
    color: white !important;
    /*border: 3px solid white !important;*/
    border-radius: 20px 20px 20px 20px !important;
    background-color: black;
    font-size: 0.8rem;
    margin-left: 0.3em;
}
/*.input-group button{
    margin-left: 0.5em !important;
}*/

#searchs{
    display: flex;
}

.banner a{
    margin: auto;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;

}

.redir{
    margin-left: 0.7em;
    display: flex;
    align-items: center;
    text-align: center;
    /*    padding: 20px 0px;*/
}

.redir:hover{
    background-color: white;
}
.redir:hover a{
    color: black;
}

img .smallLogo {
    width: 22px !important;
    height: 22px !important;
}



/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.textOnImg{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}



.maintxt {
    position: relative;
}

.maintxt > img{
    width: 100%;
    height: 650px;
}

.maintxt > img{
    position: static;
}
.overlay-text {
    position: absolute;
    padding: 150px 50px;
    font-family: Inter;
    font-size: 60px;
    font-weight: bold;
    left: 30px;
}

.hotNews{
    position: absolute;
    left: 80px;
    top: 40px;
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
}

.overlay-text-large{
    position: absolute;
    top: 120px;
    left: 80px;
    font-family: Inter;
    font-size: 60px;
    font-weight: bold;
    white-space: initial;
    word-wrap: break-word;
    color: white;
}

.overlay-text-small{
    position: absolute;
    top: 280px;
    left: 80px;
    font-size: 15px;
    white-space: initial;
    word-wrap: break-word;
    color: rgba(189, 195, 199, 1);
}

.overlay-text-small1{
    position: absolute;
    top: 300px;
    left: 80px;
    font-size: 15px;
    white-space: initial;
    word-wrap: break-word;
    color: rgba(189, 195, 199, 1);
}

.overlay-text-small2{
    position: absolute;
    top: 340px;
    left: 80px;
    font-size: 12px;
    white-space: initial;
    word-wrap: break-word;
    color: rgba(189, 195, 199, 1);
    text-decoration: none;
    background-color: rgba(77, 77, 77, 0.8);
    padding: 10px 20px;
    border-radius: 20px;
}
.overlay-text-small2:hover{
    color: black;
    background-color: white;
}


.overlay-text-small3{
    position: absolute;
    top: 340px;
    left: 180px;
    font-size: 12px;
    white-space: initial;
    word-wrap: break-word;
    color: rgba(189, 195, 199, 1);
    text-decoration: none;
    background-color: rgba(77, 77, 77, 0.8);
    padding: 10px 20px;
    border-radius: 20px;
}

.overlay-text-small3:hover{
    color: black;
    background-color: white;
}

.overlay-text-small4{
    position: absolute;
    top: 465px;
    left: 80px;
    font-size: 17px;
    white-space: initial;
    word-wrap: break-word;
    color: rgba(189, 195, 199, 1);
}

.overlay-image{
    object-fit: cover !important;
    object-position: 0px -7px !important;
    position: absolute !important;
    width: 50px !important;
    height: 50px !important;
    top: 500px;
    left: 80px;
}

.overlay-text-small5{
    position: absolute;
    top: 503px;
    left: 150px;
    font-size: 14px;
    white-space: initial;
    word-wrap: break-word;
    color: rgba(189, 195, 199, 1);
    font-weight: bold;
}

.overlay-text-small6{
    position: absolute;
    top: 525px;
    left: 150px;
    font-size: 12px;
    white-space: initial;
    word-wrap: break-word;
    color: rgba(189, 195, 199, 1);
    font-style: italic;
}


.bg-img{
    position: static !important;
}

.container{
    position: static !important;
}

.startHere{
    left: 200px;
    font-size: 50px;
    font-weight: bold;

}

.loginBanner{
    text-align: center;
    position: relative;
    caret-color: transparent;
}

.loginBg{

    width: 100%;

}

.loginBtn{
    position: absolute;
    left: 30%;
    top: 40%;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 30px 50px;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;

}

.loginBtn:hover{
    color:black;
}

.registerBtn{
    position: absolute;
    left: 55%;
    top: 40%;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 30px 30px;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
}

.registerBtn:hover{
    color: black;
}

.helloUsername{
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;

}

.logoutBtn{
    position: absolute;
    left: 15%;
    top: 40%;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.forumBtn{
    position: absolute;
    left: 41%;
    top: 40%;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.reviewBtn{
    position: absolute;
    left: 67%;
    top: 40%;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.forumBtn:hover{
    color: black;
}

.reviewBtn:hover{
    color: black;
}

.cbestSong h2{
    font-weight: bold;
    font-size: 40px;
}

.song{
    border: 4px dashed #b3e3b2;
    border-radius: 20px;
    padding: 20px 10px;
    margin-right: 10px;
    background-color: #e4feff4a;
}

.song a{
    color: black;
    text-decoration: none;

}
.song img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: auto;
    object-fit: cover;
}

.song h2{
    font-weight: bold;
    font-size: 30px;
}

.song span h3{
    font-weight: bold;
    font-size: 30px;
}

.song{
    margin: 20px 0;

}

.songDetail{
    text-align: center;
}

span.markStar{
    font-weight: bold;
    font-size: 30px;
}

.playBtn{
    /*    background-color: aquamarine;*/
    text-align: center;
    margin: auto;
    color: black;
    margin-top: 10px;

}

span i{
    color: yellow;
}

.playBtn a{
    padding: 10px 50px;
    background-color: #b3e3b2;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #6ca26c;
    color: #4d4646;
}