.artwork{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.song{
    margin: 10px 0;
    background-color: rgba(223, 221, 222, 0.5);
    padding: 10px 0;
    border: 2px solid rgba(223, 221, 222, 1);
    border-radius: 10px;
}

.test1{
    /*    background-color: blue;*/
    border: 1px solid;
}
.songname{
    /*    background-color: red;*/
}

.test3{
    /*    background-color: green;*/
    padding: 10px;
}

.composerName{
    /*    background-color: aqua;*/

}

.songname{
    font-weight: bold;
    font-size: 27px;
}

.songname a{
    text-decoration: none;
    color: black;
}

.genre{
    /*    background-color: aquamarine;*/
    text-align: center;
    margin: auto;
}

.playButton{
    /*    background-color: aquamarine;*/
    text-align: center;
    margin: auto;
    color: black;


}

.playButton a{
    padding: 10px 25px;
    background-color: #b3e3b2;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #6ca26c;
    color: #4d4646;
}

.deleteButton{
    font-size: 10px;
    margin: auto;
    text-align: right;
}

.deleteButton a{
    padding: 5px 10px;
    background-color: #b3e3b2;
    text-decoration: none;
    border-radius: 30px;
    color: #4d4646;
}

.mark{
    background-color: #b3e3b2;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
}

.mark span{
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}

.mark i{
    margin: auto;
    color: yellow;
    font-size: 30px;
}

.sortForm{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
