.row h3{
    font-size: 20px;
    font-weight: bold;
}

.line{
    background-color: rgba(246, 246, 246, 0.8);
    padding: 10px 0;
    margin-left: 10px;
    margin: 10px;
    border: 2px solid rgba(160, 160, 160, 0.41);
    border-radius: 10px;
}

.line a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    
}

.date{
    margin: auto;
    text-align: right;
}

.date p{
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: auto;
}

.keyEnter1{
    width: 100%;
}

.keyEnter2{
    width: 100%;
}

.forumSearch{
    margin-bottom: 20px;
}

span i {
    color: yellow;
}


.searchMark{
    margin: auto;
    text-align: right;
}

.searchMark span{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
