.list{
    font-size: 13px;
    caret-color: transparent;
}

.list a{
    text-decoration: none !important;
    color: black;
    font-weight: bold !important;
    font-size: 15px;
}

#newThreadBtn{
    margin: 10px 0 !important;
}

.listTable{
    background-color: #b3e3b2a1;
    margin: 10px;
    border: dashed 2px green;
}

.id{
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.tName{
    font-weight: bold;
}

.tName a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.tCreator{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: auto;
}


.tDate{
    font-weight: bold;
    margin: auto;
    font-size: 20px;
}

.tReply p{
    font-weight: bold;
    text-align: center;
    margin: auto;
    
}