
.updateForm{
    background-color: rgba(222, 222, 222, 0.8);
    padding: 10px 2px;
    font-size: 15px;
}

.updateForm input{
    margin: 10px 0px;;
}

.descBox{
    width: 100%;
    height: 200px;
}

.songLink{
    width: 100%;
}

.imageLink{
    width: 100%;
}

